[Unit]
Description=Start buzzer service
After=network.target

[Service]
ExecStart=sudo /usr/bin/node BUZZERDIR/index.js
WorkingDirectory=BUZZERDIR
Restart=always
User=utilisateur
Group=utilisateur

[Install]
WantedBy=multi-user.target