[Unit]
Description=Start buzzer service
After=network.target

[Service]
ExecStart=sudo /usr/bin/node BUZZERDIR/Server/index.js
WorkingDirectory=BUZZERDIR
Restart=no
User=buzzer
Group=buzzer

[Install]
WantedBy=multi-user.target
